<div class="w-full h-full">
  <app-carousel></app-carousel>
  <div class="w-full flex flex-col p-12 items-center text-gray-700">
    <h1 class="text-4xl uppercase font-semibold mb-2">Putrid Grove</h1>
    <h2 class="text-2xl mb-5">Houtstraat 64, 9070 Destelbergen</h2>
    <p class="text-lg w-8/12 text-center">
      PutridGrove is an application made with the Remix framework as essay
      assignment. This is the start of the PutridGrove application that will be
      developed in the near future. Alongside this application, there's also a
      Angular/ASP.NET application being made to compare both. The PutridGrove
      application is meant to make life at Putrid Grove a little more easy by
      bundling all smart applications in one handy app.
    </p>
  </div>
</div>
