<app-header quote="{{randomQuote}}"></app-header>
<div class="h-full w-full flex flex-row flex-wrap justify-center mt-24">
  <div
    class="p-6 w-3/12 h-2/5 flex flex-col items-center justify-center text-gray-700 bg-gray-200 hover:bg-gray-300 hover:animate-pulse rounded-md"
  >
    <p class="text-2xl mb-5">There are currently</p>
    <p class="text-4xl mb-5">
      <span class="font-bold">{{ itemsCount }}</span> items
    </p>
    <p class="text-2xl">being paid off</p>
  </div>
  <div
    class="p-6 w-3/12 h-2/5 mx-14 flex flex-col items-center justify-center text-gray-700 bg-gray-200 hover:bg-gray-300 hover:animate-pulse rounded-md"
  >
    <p class="text-4xl font-bold uppercase mb-6">
      {{ highestTotalUser.firstName }}
    </p>
    <p class="text-2xl text-center">currently has most contributions</p>
  </div>
  <div
    class="p-6 w-3/12 h-2/5 flex flex-col items-center justify-center text-gray-700 bg-gray-200 hover:bg-gray-300 hover:animate-pulse rounded-md"
  >
    <p class="text-2xl mb-5">There are</p>
    <p class="text-4xl font-bold mb-5">{{ usersCount }}</p>
    <p class="text-2xl">Registered users</p>
  </div>
</div>
